# Node and editor
node_modules/
.vscode/
.DS_Store
npm-debug.log*
*.log

# Environment variables and secrets
.env
.env.local
.env.production
.env.development
*.key
*.pem

# Firebase
.firebase/
firebase-debug.log

# build
dist/
